.task-list {
    padding: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.75);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ant-input-search {
            width: 45%;
        }

        .icon-filter {
            font-size: 1.4rem;
            color: #9c9595;
        }

        
    }

    

    .btn-add {
        
        height: 50px;
        span {

            font-size: 2rem;
            margin-top: -8px;
        }
    }

    .ant-list-item {
        width: 100%;
        display: flex;
    }
}

.opt-popover {
    font-weight: bold;
    cursor: pointer;
}