.container{
    height: 100%;
    padding: 4rem 0px;
    @media screen and (min-width: 850px) {
        padding: 4rem 2rem;
    }
    .content-list{
        height: 100%;
        .ant-col{
            width: 100%;
            padding: 20px;
        }
    }


}

